@using MedievalMMO.BL.Domain
@model MedievalMMO.UI.Web.Models.NewPlayerModel

@{
    ViewBag.Title = "Add Player";
    Layout = "_Layout";
}

<h2>Add Player</h2>

<form asp-controller="Player" asp-action="Add" method="post">
    <div>
        <label asp-for="@Model.PlayerName">Player Name</label>
        <input asp-for="@Model.PlayerName" class="form-control"/><br/>
        <span asp-validation-for="@Model.PlayerName" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.PlayerBirthdate">Player Birthdate</label>
        <input asp-for="@Model.PlayerBirthdate" class="form-control" type="date"/><br/>
        <span asp-validation-for="@Model.PlayerBirthdate" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.PlayerGender">Player Gender</label>
        <select asp-for="@Model.PlayerGender" asp-items="new SelectList(Enum.GetValues(typeof(Gender)))" class="form-select" required="required">
        </select><br/>
        <span asp-validation-for="@Model.PlayerGender" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.PlayerLevel">Player Level</label>
        <input asp-for="@Model.PlayerLevel" class="form-control" type="number"/><br/>
        <span asp-validation-for="@Model.PlayerLevel" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>